In [14]:
import pandas as pd
import numpy as np

In [15]:
data = pd.read_csv("Dataset.csv")
type(data)

pandas.core.frame.DataFrame

In [16]:
# display the first 5 rows
print(data.head())

   id  age  salary department  experience_years        city  \
0   1   56   28392      Sales                15    Lalitpur
1   2   46   50535         HR                18      Butwal
2   3   32   98603         HR                 3   Kathmandu
3   4   25   72256    Finance                 2      Butwal
4   5   38  109135         IT                16  Biratnagar

   performance_score  bonus  gender  is_active
0               3.02  14216    Male       True
1               4.31   7132  Female       True
2               2.28   8891  Female       True
3               4.58  11700    Male      False
4               2.56   3779    Male       True

In [ ]:
# display the last 5 rows
print(data.tail())

     id  age  salary department  experience_years       city  \
95   96   59  105616      Sales                 6  Kathmandu
96   97   56  113264         HR                 4   Lalitpur
97   98   58   46736  Marketing                 2  Kathmandu
98   99   45  114209         HR                11  Kathmandu
99  100   24   20854      Sales                15  Kathmandu

    performance_score  bonus  gender  is_active
95               1.31   5719  Female       True
96               4.90   3814  Female      False
97               4.94   4374    Male      False
98               3.79  12470  Female      False
99               3.14   2252  Female      False

In [18]:
# shape of the DataFrame
print(data.shape)

(100, 10)

In [20]:
# Datatype of the dataframe
print(data.dtypes)

id                     int64
age                    int64
salary                 int64
department            object
experience_years       int64
city                  object
performance_score    float64
bonus                  int64
gender                object
is_active               bool
dtype: object

In [21]:
# All theinformation about the DataFrame
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 100 non-null    int64
 1   age                100 non-null    int64
 2   salary             100 non-null    int64
 3   department         100 non-null    object
 4   experience_years   100 non-null    int64
 5   city               100 non-null    object
 6   performance_score  100 non-null    float64
 7   bonus              100 non-null    int64
 8   gender             100 non-null    object
 9   is_active          100 non-null    bool
dtypes: bool(1), float64(1), int64(5), object(3)
memory usage: 7.3+ KB
None

In [ ]:

type(data.age)
# This means every column is a pandas Series

pandas.core.series.Series

Manipulating dataframe

In [24]:
data['Incremented_Salary'] = data["experience_years"]*500 + data["salary"]
# print(data.head())
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  100 non-null    int64
 1   age                 100 non-null    int64
 2   salary              100 non-null    int64
 3   department          100 non-null    object
 4   experience_years    100 non-null    int64
 5   city                100 non-null    object
 6   performance_score   100 non-null    float64
 7   bonus               100 non-null    int64
 8   gender              100 non-null    object
 9   is_active           100 non-null    bool
 10  Incremented_Salary  100 non-null    int64
dtypes: bool(1), float64(1), int64(6), object(3)
memory usage: 8.0+ KB
None