In [29]:
import pandas as pd

In [30]:

numbers = range(1,100,5)
a=pd.Series(numbers)
print(a)

0      1
1      6
2     11
3     16
4     21
5     26
6     31
7     36
8     41
9     46
10    51
11    56
12    61
13    66
14    71
15    76
16    81
17    86
18    91
19    96
dtype: int64

In [31]:
# creating a pandas series with string values

str=pd.Series(['hello','how ','are','you'])
print(str)

0    hello
1     how
2      are
3      you
dtype: object

In [32]:
# creating a pandas series with different data types
hom= pd.Series([12,'butwal',3.5,'nepal',True], index=['age','city','height','country','is_student'])
print(hom)

age               12
city          butwal
height           3.5
country        nepal
is_student      True
dtype: object

In [33]:
# set an index to the series
marks = [85, 90, 78, 92, 88]
sub = ['Math', 'Science', 'English', 'History', 'Art']
student_marks = pd.Series(marks, index=sub)
print(student_marks)

Math       85
Science    90
English    78
History    92
Art        88
dtype: int64

In [34]:
# creating a pandas series from a dictionary

data ={'math':85, 'science':90, 'english':78, 'history':92, 'art':88}
student_marks = pd.Series(data)
print(student_marks)

math       85
science    90
english    78
history    92
art        88
dtype: int64

In [ ]:
# null values in pandas series
subjects = ['math', 'science', 'social', 'history', 'Art']
ser= pd.Series(data, index=subjects)
print(ser)

math       85.0
science    90.0
social      NaN
history    92.0
Art         NaN
dtype: float64
math       1.0
science    2.0
social     NaN
history    3.0
Art        NaN
dtype: float64

In [36]:
# check the numm value
print(ser.isnull())

# check the not numm value
print(ser.notnull())

math       False
science    False
social      True
history    False
Art         True
dtype: bool
math        True
science     True
social     False
history     True
Art        False
dtype: bool

In [37]:
# filtering the series
print(ser[ser>60])

math       85.0
science    90.0
history    92.0
dtype: float64

In [50]:
# assigning values to null values

ser['social'] = 75
ser['Art'] = 88
print(ser)
print(ser.rank(ascending=False))

math       85.0
science    90.0
social     75.0
history    92.0
Art        88.0
dtype: float64
math       4.0
science    2.0
social     5.0
history    1.0
Art        3.0
dtype: float64

In [44]:
import numpy as np
short_val = pd.Series([1,2,np.nan,4,5,np.nan,7,8,np.nan,10])
print(short_val)
print()
print(short_val.sort_values())
print()
print(short_val.rank())

0     1.0
1     2.0
2     NaN
3     4.0
4     5.0
5     NaN
6     7.0
7     8.0
8     NaN
9    10.0
dtype: float64

0     1.0
1     2.0
3     4.0
4     5.0
6     7.0
7     8.0
9    10.0
2     NaN
5     NaN
8     NaN
dtype: float64

0    1.0
1    2.0
2    NaN
3    3.0
4    4.0
5    NaN
6    5.0
7    6.0
8    NaN
9    7.0
dtype: float64

#DataFrame

In [ ]:
# creating a pandas DataFrame from a dictionary

data = {
    "subjects":["math","science","arts"],
    "marks":(85,90,88),
    "CGPA":[3.5,3.8,3.6]
}
print(pd.DataFrame(data, index=['stu1','stu2','stu3']))

     subjects  marks  CGPA
stu1     math     85   3.5
stu2  science     90   3.8
stu3     arts     88   3.6

In [54]:
# creating dataframe from series

subject = pd.Series(['math','science','arts'])
marks = pd.Series([85,90,88])
cgpa = pd.Series([3.5,3.8,3.6])

dat=pd.DataFrame([subject,marks,cgpa], index=['Subject','Marks','CGPA'])
print(dat)
print()

# converting into vertical format

ver=pd.DataFrame([subject,marks,cgpa], index=['Subject','Marks','CGPA']).T
print(ver)

            0        1     2
Subject  math  science  arts
Marks      85       90    88
CGPA      3.5      3.8   3.6

   Subject Marks CGPA
0     math    85  3.5
1  science    90  3.8
2     arts    88  3.6