In [1]:
import numpy as np
import pandas as pd

1. Select employees:

    a. with salary greater than 70,000

    b. who work in the IT department

    c. who are active and have performance_score ≥ 4


2. Get all rows where city is Kathmandu or Pokhara.

3. Select only these columns:
    id, department, salary, performance_score

4. Find employees whose experience is between 5 and 10 years.

5. Filter female employees earning more than the average salary.

In [2]:
# 1.Select employees:

# a. with salary greater than 70,000
# b. who work in the IT department
# c. who are active and have performance_score ≥ 4

data = pd.read_csv('Dataset.csv')

print("Staff who has salary more than 70k: \n",data[data.salary>70000])
print()

print("Department with IT staff only: \n",data[data["department"]=="IT"])
print()
print("Staff with status active and performance score greater equal than 4: \n"
,data[(data.is_active==True)&(data.performance_score >= 4)])

Staff who has salary more than 70k:
     id  age  salary department  experience_years        city  \
2    3   32   98603         HR                 3   Kathmandu
3    4   25   72256    Finance                 2      Butwal
4    5   38  109135         IT                16  Biratnagar
6    7   36   97373  Marketing                11   Kathmandu
7    8   40   99575         IT                13  Biratnagar
8    9   28  116354  Marketing                 5      Butwal
9   10   28  104651    Finance                 2  Biratnagar
10  11   41   83335    Finance                 8     Pokhara
13  14   41   90592  Marketing                13  Biratnagar
14  15   20  118018         IT                 2   Kathmandu
16  17   19   99309         HR                19     Pokhara
18  19   47   72992  Marketing                 2      Butwal
19  20   55  102948    Finance                17  Biratnagar
20  21   19  118806      Sales                 9     Pokhara
22  23   50  110982  Marketing                 7     Pokhara
24  25   39  107054    Finance                17    Lalitpur
25  26   42  107897  Marketing                14     Pokhara
27  28   59   70636         IT                 9      Butwal
28  29   45   70015    Finance                 1      Butwal
29  30   33   74268    Finance                16  Biratnagar
30  31   32  107939  Marketing                 7     Pokhara
32  33   54  100356         HR                 8  Biratnagar
33  34   24   91910         HR                10    Lalitpur
34  35   38   76044         IT                15  Biratnagar
35  36   26   87214         HR                 6  Biratnagar
37  38   35   75820  Marketing                 2    Lalitpur
38  39   21   82623         HR                17  Biratnagar
39  40   42  101734         HR                12   Kathmandu
40  41   31   95450         IT                 6   Kathmandu
41  42   26  113426         IT                 3      Butwal
44  45   37   84044         IT                 0      Butwal
48  49   52  115003         HR                13   Kathmandu
49  50   31  115259         IT                11     Pokhara
50  51   34   89163         HR                18    Lalitpur
57  58   21   95766    Finance                 9    Lalitpur
63  64   53   86842    Finance                 7     Pokhara
64  65   31   81373         HR                11     Pokhara
66  67   32  112787  Marketing                 4     Pokhara
67  68   25   75016    Finance                 6    Lalitpur
69  70   40   78053    Finance                 5  Biratnagar
72  73   33  114856         IT                14     Pokhara
74  75   41  117504         IT                 7    Lalitpur
75  76   43  118098    Finance                19      Butwal
77  78   58   86199         HR                12   Kathmandu
79  80   32   93530         HR                 9      Butwal
80  81   18  113557  Marketing                18   Kathmandu
81  82   42   81087         HR                16  Biratnagar
82  83   24  115839      Sales                18     Pokhara
83  84   26   88840  Marketing                 4      Butwal
84  85   41   74384    Finance                 8   Kathmandu
85  86   18   71005         HR                11    Lalitpur
88  89   28   82003    Finance                14  Biratnagar
89  90   34  103211    Finance                 1     Pokhara
90  91   25   72733      Sales                15   Kathmandu
91  92   52   85318    Finance                 7      Butwal
92  93   52  109474    Finance                12  Biratnagar
94  95   22   87172         IT                15      Butwal
95  96   59  105616      Sales                 6   Kathmandu
96  97   56  113264         HR                 4    Lalitpur
98  99   45  114209         HR                11   Kathmandu

    performance_score  bonus  gender  is_active
2                2.28   8891  Female       True
3                4.58  11700    Male      False
4                2.56   3779    Male       True
6                4.62  12148  Female       True
7                1.37   2581  Female      False
8                2.28   8714  Female       True
9                4.80   4324  Female      False
10               4.80  13677  Female      False
13               2.79   1255  Female      False
14               2.17   5804  Female       True
16               3.69  11136    Male      False
18               4.17   3871    Male       True
19               4.16   9989  Female      False
20               1.36   8409  Female       True
22               1.23  14164  Female       True
24               2.77   2015  Female       True
25               4.55  11016    Male       True
27               1.47  12328  Female      False
28               1.57   3193    Male      False
29               4.05   9415  Female      False
30               3.47  14550    Male      False
32               1.34   8449    Male       True
33               3.80   5158    Male      False
34               1.29  14528  Female      False
35               4.29   4925  Female      False
37               1.33   7938    Male      False
38               1.34   5784  Female      False
39               4.95  14772    Male       True
40               2.50   5000  Female      False
41               2.48   2633  Female       True
44               4.94   9702  Female       True
48               4.11  13805    Male       True
49               3.23  13763  Female      False
50               2.70   3000    Male       True
57               1.48   4636    Male      False
63               2.50   7600  Female       True
64               2.14   6997  Female       True
66               1.89  13338  Female       True
67               4.85   5780  Female      False
69               4.88   8939    Male      False
72               3.11   5976    Male       True
74               1.30  11015    Male      False
75               3.22  11273  Female       True
77               3.09   8239    Male      False
79               3.78   1249    Male       True
80               2.82   9865    Male       True
81               3.51  13725    Male      False
82               3.34  11357    Male       True
83               4.60   1770  Female      False
84               1.18  13154  Female       True
85               2.12   5363  Female      False
88               2.82   9427    Male      False
89               3.48   9580  Female      False
90               2.11  12229    Male       True
91               1.75   8901    Male      False
92               2.85   5858    Male       True
94               3.33   7544  Female       True
95               1.31   5719  Female       True
96               4.90   3814  Female      False
98               3.79  12470  Female      False

Department with IT staff only:
     id  age  salary department  experience_years        city  \
4    5   38  109135         IT                16  Biratnagar
7    8   40   99575         IT                13  Biratnagar
14  15   20  118018         IT                 2   Kathmandu
27  28   59   70636         IT                 9      Butwal
34  35   38   76044         IT                15  Biratnagar
40  41   31   95450         IT                 6   Kathmandu
41  42   26  113426         IT                 3      Butwal
44  45   37   84044         IT                 0      Butwal
49  50   31  115259         IT                11     Pokhara
72  73   33  114856         IT                14     Pokhara
73  74   35   23748         IT                 2      Butwal
74  75   41  117504         IT                 7    Lalitpur
94  95   22   87172         IT                15      Butwal

    performance_score  bonus  gender  is_active
4                2.56   3779    Male       True
7                1.37   2581  Female      False
14               2.17   5804  Female       True
27               1.47  12328  Female      False
34               1.29  14528  Female      False
40               2.50   5000  Female      False
41               2.48   2633  Female       True
44               4.94   9702  Female       True
49               3.23  13763  Female      False
72               3.11   5976    Male       True
73               4.97  13775    Male       True
74               1.30  11015    Male      False
94               3.33   7544  Female       True

Staff with status active and performance score greater equal than 4:
     id  age  salary department  experience_years        city  \
1    2   46   50535         HR                18      Butwal
6    7   36   97373  Marketing                11   Kathmandu
18  19   47   72992  Marketing                 2      Butwal
25  26   42  107897  Marketing                14     Pokhara
39  40   42  101734         HR                12   Kathmandu
42  43   43   42299    Finance                12    Lalitpur
43  44   19   63585  Marketing                19    Lalitpur
44  45   37   84044         IT                 0      Butwal
45  46   45   62557         HR                 7  Biratnagar
48  49   52  115003         HR                13   Kathmandu
65  66   48   26776  Marketing                11     Pokhara
71  72   38   25530      Sales                19      Butwal
73  74   35   23748         IT                 2      Butwal
87  88   41   59353  Marketing                 0    Lalitpur

    performance_score  bonus  gender  is_active
1                4.31   7132  Female       True
6                4.62  12148  Female       True
18               4.17   3871    Male       True
25               4.55  11016    Male       True
39               4.95  14772    Male       True
42               4.25  11344  Female       True
43               4.79   8266    Male       True
44               4.94   9702  Female       True
45               4.01   1384  Female       True
48               4.11  13805    Male       True
65               4.47   3048  Female       True
71               4.56   5544  Female       True
73               4.97  13775    Male       True
87               4.56   2077  Female       True

In [15]:
data[data['city']=='Kathmandu']

,id,age,salary,department,experience_years,city,performance_score,bonus,gender,is_active
2,3,32,98603,HR,3,Kathmandu,2.28,8891,Female,True
6,7,36,97373,Marketing,11,Kathmandu,4.62,12148,Female,True
14,15,20,118018,IT,2,Kathmandu,2.17,5804,Female,True
26,27,44,43419,Finance,1,Kathmandu,2.40,13661,Female,True
31,32,20,38141,Marketing,0,Kathmandu,1.40,14140,Male,False
39,40,42,101734,HR,12,Kathmandu,4.95,14772,Male,True
40,41,31,95450,IT,6,Kathmandu,2.50,5000,Female,False
47,48,25,22693,Marketing,15,Kathmandu,1.33,9175,Female,True
48,49,52,115003,HR,13,Kathmandu,4.11,13805,Male,True
60,61,43,64262,Marketing,10,Kathmandu,3.98,5178,Male,True
68,69,31,29474,HR,3,Kathmandu,1.05,1716,Female,False
77,78,58,86199,HR,12,Kathmandu,3.09,8239,Male,False
80,81,18,113557,Marketing,18,Kathmandu,2.82,9865,Male,True
84,85,41,74384,Finance,8,Kathmandu,1.18,13154,Female,True
86,87,25,66576,HR,0,Kathmandu,4.80,11176,Male,False
90,91,25,72733,Sales,15,Kathmandu,2.11,12229,Male,True
93,94,50,43664,Finance,0,Kathmandu,2.41,11040,Female,False
95,96,59,105616,Sales,6,Kathmandu,1.31,5719,Female,True
97,98,58,46736,Marketing,2,Kathmandu,4.94,4374,Male,False
98,99,45,114209,HR,11,Kathmandu,3.79,12470,Female,False
99,100,24,20854,Sales,15,Kathmandu,3.14,2252,Female,False