In [13]:
import pandas as pd

In [14]:

numbers = range(1,100,5)
a=pd.Series(numbers)
print(a)

0      1
1      6
2     11
3     16
4     21
5     26
6     31
7     36
8     41
9     46
10    51
11    56
12    61
13    66
14    71
15    76
16    81
17    86
18    91
19    96
dtype: int64

In [ ]:
# creating a pandas series with string values

str=pd.Series(['hello','how ','are','you'])
print(str)

0    hello
1     how
2      are
3      you
dtype: object

In [18]:
# creating a pandas series with different data types
hom= pd.Series([12,'butwal',3.5,'nepal',True], index=['age','city','height','country','is_student'])
print(hom)

age               12
city          butwal
height           3.5
country        nepal
is_student      True
dtype: object

In [ ]:
# set an index to the series
marks = [85, 90, 78, 92, 88]
sub = ['Math', 'Science', 'English', 'History', 'Art']
student_marks = pd.Series(marks, index=sub)
print(student_marks)

Math       85
Science    90
English    78
History    92
Art        88
dtype: int64

In [20]:
# creating a pandas series from a dictionary

data ={'math':85, 'science':90, 'english':78, 'history':92, 'art':88}
student_marks = pd.Series(data)
print(student_marks)

math       85
science    90
english    78
history    92
art        88
dtype: int64

In [22]:
# null values in pandas series
subjects = ['math', 'science', 'social', 'history', 'Art']
ser= pd.Series(data, index=subjects)
print(ser)

math       85.0
science    90.0
social      NaN
history    92.0
Art         NaN
dtype: float64

In [24]:
# check the numm value
print(ser.isnull())

# check the not numm value
print(ser.notnull())

math       False
science    False
social      True
history    False
Art         True
dtype: bool
math        True
science     True
social     False
history     True
Art        False
dtype: bool

In [ ]:
# filtering the series
print(ser[ser>60])

math       85.0
science    90.0
history    92.0
dtype: float64

In [ ]:
# assigning values to null values

ser['social'] = 75
ser['Art'] = 88
print(ser)

math       85.0
science    90.0
social     75.0
history    92.0
Art        88.0
dtype: float64