In [18]:
import pandas as pd

In [19]:

dt= pd.Series([22,24,28,39,20], index=['a','b','c','d','e'])
print (dt)

a    22
b    24
c    28
d    39
e    20
dtype: int64

In [20]:
data = pd.read_csv('Europe Sales Records.csv')

print(data)

      Region                 Country        Item Type Sales Channel  \
0     Europe          Czech Republic        Beverages       Offline
1     Europe  Bosnia and Herzegovina          Clothes        Online
2     Europe                 Austria           Cereal       Offline
3     Europe                Bulgaria  Office Supplies        Online
4     Europe                 Estonia           Fruits        Online
...      ...                     ...              ...           ...
1325  Europe                  Norway    Personal Care       Offline
1326  Europe                 Ukraine           Cereal       Offline
1327  Europe                 Armenia             Meat       Offline
1328  Europe                 Denmark          Clothes       Offline
1329  Europe                 Finland          Clothes        Online

     Order Priority  Order Date   Order ID   Ship Date  Units Sold  \
0                 C   9/12/2011  478051030   9/29/2011        4778
1                 M  10/14/2013  919133651   11/4/2013         927
2                 C   8/13/2014  987410676    9/6/2014        5616
3                 L  10/31/2010  672330081  11/29/2010        6266
4                 L   9/28/2016  579463422   11/1/2016        4958
...             ...         ...        ...         ...         ...
1325              M   1/14/2014  634033286   1/15/2014        3394
1326              L   4/14/2014  559183347   5/21/2014        3633
1327              M   11/9/2015  781416594  12/23/2015        7390
1328              H    5/9/2012  713357150    6/3/2012        7088
1329              L   4/22/2014  906794202   5/11/2014        9410

      Unit Price  Unit Cost  Total Revenue  Total Cost  Total Profit
0          47.45      31.79      226716.10   151892.62      74823.48
1         109.28      35.84      101302.56    33223.68      68078.88
2         205.70     117.11     1155211.20   657689.76     497521.44
3         651.21     524.96     4080481.86  3289399.36     791082.50
4           9.33       6.92       46258.14    34309.36      11948.78
...          ...        ...            ...         ...           ...
1325       81.73      56.67      277391.62   192337.98      85053.64
1326      205.70     117.11      747308.10   425460.63     321847.47
1327      421.89     364.69     3117767.10  2695059.10     422708.00
1328      109.28      35.84      774576.64   254033.92     520542.72
1329      109.28      35.84     1028324.80   337254.40     691070.40

[1330 rows x 14 columns]

In [22]:
data.head(10)

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
0,Europe,Czech Republic,Beverages,Offline,C,9/12/2011,478051030,9/29/2011,4778,47.45,31.79,226716.10,151892.62,74823.48
1,Europe,Bosnia and Herzegovina,Clothes,Online,M,10/14/2013,919133651,11/4/2013,927,109.28,35.84,101302.56,33223.68,68078.88
2,Europe,Austria,Cereal,Offline,C,8/13/2014,987410676,9/6/2014,5616,205.70,117.11,1155211.20,657689.76,497521.44
3,Europe,Bulgaria,Office Supplies,Online,L,10/31/2010,672330081,11/29/2010,6266,651.21,524.96,4080481.86,3289399.36,791082.50
4,Europe,Estonia,Fruits,Online,L,9/28/2016,579463422,11/1/2016,4958,9.33,6.92,46258.14,34309.36,11948.78
5,Europe,Montenegro,Fruits,Offline,L,5/29/2016,313705861,7/10/2016,1390,9.33,6.92,12968.70,9618.80,3349.90
6,Europe,Czech Republic,Cereal,Online,M,7/8/2011,552037513,8/5/2011,9022,205.70,117.11,1855825.40,1056566.42,799258.98
7,Europe,Luxembourg,Vegetables,Offline,L,2/13/2010,744683635,4/1/2010,7291,154.06,90.93,1123251.46,662970.63,460280.83
8,Europe,Switzerland,Meat,Online,L,3/21/2014,169378983,4/10/2014,1860,421.89,364.69,784715.40,678323.40,106392.00
9,Europe,Finland,Beverages,Online,H,3/16/2012,566428315,3/23/2012,7581,47.45,31.79,359718.45,240999.99,118718.46

In [23]:
data.tail(10)

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
1320,Europe,Hungary,Clothes,Offline,H,1/21/2015,538430345,3/10/2015,2359,109.28,35.84,257791.52,84546.56,173244.96
1321,Europe,Switzerland,Beverages,Online,H,1/30/2010,797461354,2/5/2010,5391,47.45,31.79,255802.95,171379.89,84423.06
1322,Europe,Switzerland,Cosmetics,Offline,C,9/10/2014,347609412,9/17/2014,4205,437.20,263.33,1838426.00,1107302.65,731123.35
1323,Europe,Russia,Personal Care,Offline,H,11/12/2011,473845756,12/16/2011,344,81.73,56.67,28115.12,19494.48,8620.64
1324,Europe,Belarus,Vegetables,Online,C,1/5/2011,180479466,1/12/2011,6740,154.06,90.93,1038364.40,612868.20,425496.20
1325,Europe,Norway,Personal Care,Offline,M,1/14/2014,634033286,1/15/2014,3394,81.73,56.67,277391.62,192337.98,85053.64
1326,Europe,Ukraine,Cereal,Offline,L,4/14/2014,559183347,5/21/2014,3633,205.70,117.11,747308.10,425460.63,321847.47
1327,Europe,Armenia,Meat,Offline,M,11/9/2015,781416594,12/23/2015,7390,421.89,364.69,3117767.10,2695059.10,422708.00
1328,Europe,Denmark,Clothes,Offline,H,5/9/2012,713357150,6/3/2012,7088,109.28,35.84,774576.64,254033.92,520542.72
1329,Europe,Finland,Clothes,Online,L,4/22/2014,906794202,5/11/2014,9410,109.28,35.84,1028324.80,337254.40,691070.40

In [24]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1330 entries, 0 to 1329
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Region          1330 non-null   object
 1   Country         1330 non-null   object
 2   Item Type       1330 non-null   object
 3   Sales Channel   1330 non-null   object
 4   Order Priority  1330 non-null   object
 5   Order Date      1330 non-null   object
 6   Order ID        1330 non-null   int64
 7   Ship Date       1330 non-null   object
 8   Units Sold      1330 non-null   int64
 9   Unit Price      1330 non-null   float64
 10  Unit Cost       1330 non-null   float64
 11  Total Revenue   1330 non-null   float64
 12  Total Cost      1330 non-null   float64
 13  Total Profit    1330 non-null   float64
dtypes: float64(5), int64(2), object(7)
memory usage: 145.6+ KB

In [26]:
data.shape

(1330, 14)

In [27]:
data.describe()

,Order ID,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
count,1.330000e+03,1330.000000,1330.000000,1330.000000,1.330000e+03,1.330000e+03,1.330000e+03
mean,5.412048e+08,4949.114286,264.893541,187.246812,1.280919e+06,9.037191e+05,3.772000e+05
std,2.573882e+08,2904.105430,217.323460,176.158873,1.443065e+06,1.134845e+06,3.689833e+05
min,1.006406e+08,2.000000,9.330000,6.920000,5.038200e+02,3.736800e+02,1.301400e+02
25%,3.190004e+08,2360.750000,81.730000,35.840000,2.661169e+05,1.577943e+05,8.482294e+04
50%,5.387164e+08,4958.000000,154.060000,97.440000,7.613049e+05,4.332233e+05,2.735946e+05
75%,7.544628e+08,7458.750000,437.200000,263.330000,1.742756e+06,1.108362e+06,5.476582e+05
max,9.998797e+08,9999.000000,668.270000,524.960000,6.672676e+06,5.248025e+06,1.700449e+06

In [ ]:
import requests as req
import pandas as pd